{% extends 'base.html.twig' %}

{% block title %}New Billet{% endblock %}

{% block body %}
    <div class="container bg-dark border border-3 border-light mb-3 text-light rounded p-0">
        <h2 class="text-center bg-secondary text-dark">Create new Billet</h2>
        <div class="p-2">
            {{ include('billet/_form.html.twig') }}
            <a href="{{ path('billet_index') }}" class="btn btn-warning mb-2">back to list</a>
        </div>
    </div>
{% endblock %}
