{% extends 'base.html.twig' %}

{% block title %}Formulaire inscription{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="text-center card-header text-light shadow">Créer votre compte</h2>
        <div class="form-group card p-3 bg-secondary text-light">
            {{ form_start(formView) }}

            {{ form_label(formView) }}

            {{ form_widget(formView) }}
            <button type="submit" class="btn btn-danger border-3 border-light mt-3">S'inscrire</button>
            {{ form_end(formView) }}
        </div>
    </div>

{% endblock %}
